@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body {
    background-color: #1e1e2f;
    font-family: 'Orbitron';
    color: #ffffff;
}

.stopwatch-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.time-disp {
    color: #00FFAB;
    letter-spacing: 2px;
    font-size: 50px;
}

.button {
    display: flex;
    gap: 24px;
}

button {
    font-size: 18px;
    font-family: 'Orbitron';
    padding: 12px 30px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.06);
}

.start {
    background-color:#01dc59bb;
    color: white;
}

.start:hover {
    background-color: #027b32;
}

.stop {
    background-color: #ff4444;
    color: white;
}

.stop:hover{
    background-color:  #cc0000;
}

.reset {
    background-color: #33b5e5;
    color: white;
}

.reset: